<% content_for :navright do %>
<% end %>

<% content_for :body do %>

<table width="1061" border="0">
  <tr>
    <td width="659">&nbsp;</td>
    <td width="392">&nbsp;</td>
  </tr>
  <tr>
    <td height="383">&nbsp;</td>
    <td>
    New user? <a href='#'>Sign up</a> now.
    <form id='loginForm' method='POST' action='{$_SERVER['REQUEST_URI']}'>
				<input type='text' name='email' maxlength='30' placeholder='email'/><br>
				<input type='password' name='password' maxlength='13' placeholder='password'/><br>
				<button class='blueButton' type='submit' name='submit' value='submitted'>Login</button><a href="#">Forget oassword?</a>
</form></td>
  </tr>
</table>

<% end%>
